KAFKA_BOOTSTRAP_INTERNAL=broker:9092
KAFKA_BOOTSTRAP_HOST=localhost:29092
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=rta
POSTGRES_USER=rta
POSTGRES_PASSWORD=rta
REDIS_HOST=redis
REDIS_PORT=6379
JUPYTER_TOKEN=root
